@model IEnumerable<GestorDeRestaurante.Model.MenuIngredientes>

@{
    ViewData["Title"] = "Ingredientes de un Platillo";
}

<center>
    <h4> <i><p style="color:#FF5733";>Ingredientes de un platillo</p></i></h4>
</center>

<p>
    @Html.ActionLink("Asociar", "Create", new {idMenu = ViewBag.IdMenu})
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDeLaMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAproximado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeLaMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAproximado)
            </td>
            
            <td>
                @Html.ActionLink("Desasociar", "DesasociarUnIngrediente", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Regresar a la página principal</a>
</div>
