@model IEnumerable<GestorDeRestaurante.Model.Mesas>

@{
    ViewData["Title"] = "Ingredientes";
}

<center>
<h1><i><p style="color:#ffc300";>Catálogo de mesas</p></i></h1>
</center>

<p>
    <a asp-action="Create">Ingresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Deshabilitar", "Deshabilitar", new {id=item.Id })|
                @Html.ActionLink("Habilitar", "Habilitar", new {id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
