@model GestorDeRestaurante.Model.Menu

@{
    ViewData["Title"] = "Details";
}
<center>
    <i>
        <h1> <p style="color:#C70039";> Detalles de platillos del menú</p></h1>
    </i>
</center>

<div>
    <h4>Platillos</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
       <dd>
                    @{
                        var base64 = Convert.ToBase64String(Model.Imagen);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    }
                    
                    <img src="@imgsrc" style="height:100px;" class="d-block w-20" />


            </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Regresar a la página principal</a>
</div>
