@model IEnumerable<GestorDeRestaurante.Model.Ingredientes>

@{
    ViewData["Title"] = "Ingredientes";
}
<center>
    <h1> <i><p style="color:#900C3F";>Catálogo de ingredientes</p></i></h1>
</center>


<p>
    <a asp-action="Create">Ingresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id = item.Id }) |
                @Html.ActionLink("Detalles", "Detalles", new { id=item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
